
:root {
  /* 
  the primary fg color is used not only for the header bg color,
  but also for the fg color of hyperlinks.
  making it black has the side effect of making links invisible.
  so for now going back to the default primary color
  */
  /* --md-primary-fg-color: #000717; */
  --md-accent-fg-color: #F05623;
}


/* when pygments is enabled, the language class is suppressed for some strange reason,
  meaning this won't work / can't discriminate a shell block from any other block.
  todo: find a fix. */
pre code.language-shell::before {
  content: '$ ';
}