
:root {
  /* 
  the primary fg color is used not only for the header bg color,
  but also for the fg color of hyperlinks.
  making it black has the side effect of making links invisible.
  so for now going back to the default primary color
  */
  /* --md-primary-fg-color: #000717; */
  --md-accent-fg-color: #F05623;
}

.gcp-blue {
  color: #3870e0;
}

/*
.highlight.language-shell code::before {
  content: '$ ';
  color: green;
}
.highlight.language-shell code {
  background-color: black;
  color: white;
}
*/
